Package: zato
Version: VER-RELEASE_NAME
Architecture: ARCH
Maintainer: Dariusz Suchojad <dsuch@zato.io>
Installed-Size: SIZE
Depends: git, haproxy, libevent-LIBEVENT_VERSION, g++, clang, libpq5, libyaml-0-2, libxml2, libxslt1.1, openssl, swig, uuid, uuid-runtime, bash-completion, PYTHON_DEPENDENCIES
Build-Depends: python3-dev
Provides: zato
Section: ESB
Priority: optional
Homepage: http://zato.io
Description: Zato - ESB, SOA, REST, APIs and Cloud Integrations in Python
