Package: zato
Version: VER-RELEASE_NAME
Architecture: ARCH
Maintainer: Dariusz Suchojad <dsuch@zato.io>
Installed-Size: SIZE
Depends: git, bzr, gfortran, haproxy, libatlas3gf-base, libblas3gf, libevent-2.0-5, libgfortran3, liblapack3gf, libpq5, libyaml-0-2, libxml2, libxslt1.1, libumfpackLIBUMFPACK_VERSION, openssl, python2.7, python-m2crypto, python-numpy, python-pip, python-scipy, python-zdaemon, swig, uuid, uuid-runtime, bash-completion
Provides: zato
Section: ESB
Priority: optional
Homepage: http://zato.io
Description: The next generation ESB and application server. Open-source. In Python
 Zato - The next generation ESB and application server written in Python and released under a commercial-friendly LGPL license. 
 Think:
  » Increased productivity
  » Painless rollouts with less downtime
  » Out of the box support for HTTP, JSON, SOAP, Redis, AMQP, JMS WebSphere MQ, ZeroMQ, FTP, SQL,
    hot-deployment, job scheduling, statistics, high-availability load balancing and more
  » Slick web admin GUI, CLI and API
  » Awesome documentation
  » 24x7 commercial support and training
  » Growing community around the project
