Package: zato
Version: VER-RELEASE_NAME
Architecture: ARCH
Maintainer: Dariusz Suchojad <dsuch@zato.io>
Installed-Size: SIZE
Depends: git, bzr, gfortran, haproxy, LIBATLAS3BASE, LIBBLAS3, libevent-LIBEVENT_VERSION, libgfortran3, LIBLAPACK3, libpq5, libyaml-0-2, libxml2, libxslt1.1, libumfpackLIBUMFPACK_VERSION, openssl, swig, uuid, uuid-runtime, bash-completion, PYTHON_DEPENDENCIES
Provides: zato
Section: ESB
Priority: optional
Homepage: http://zato.io
Description: Zato - ESB, SOA, REST, APIs and Cloud Integrations in Python
