#zato create cluster config
cluster_name=ZATO_TEST_1
command=create_cluster
broker_host=10.5.5.61
broker_port=6379
odb_db_name=zato
odb_host=10.5.5.71
odb_password=zato
odb_port=3306
odb_type=mysql
odb_user=zato
lb_host=10.5.5.11
lb_port=11223
lb_agent_port=20151
store_config=False
tech_account_name=techacc1
tech_account_password=""
