# zato create load balancer config
ca_certs_path={{ ca_certs_path }}
cert_path={{ cert_path }}
command=create_lb
path={{ path }}
priv_key_path={{ priv_key_path }}
pub_key_path={{ pub_key_path }}
store_config=False
