<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job executes Ansible playbook which adds a Zato package to a test repository running in a Vagrant box.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd &quot;$ANSIBLE_ROOT&quot;
ansible-playbook -vvvv add_package_to_repo.yml --user vagrant --private-key=&quot;$ANSIBLE_ROOT&quot;/vm/repo-box-centos/.vagrant/machines/default/virtualbox/private_key</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>