<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Use this job to build, test, sign and send a Zato package or Zato packages for all supported systems. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>Define a git branch to build a Zato package from.</description>
          <defaultValue>main</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>package_version</name>
          <description>Define a Zato package version, e.g. 3.0.0.</description>
          <defaultValue>3.0.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>package_release</name>
          <description>Define a Zato package release, e.g. &apos;stable&apos; or &apos;custom-xx1&apos;.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>system</name>
          <description>Choose a system for which you want to build a Zato package.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>all</string>
              <string>debian-7-32</string>
              <string>debian-7-64</string>
              <string>debian-8-32</string>
              <string>debian-8-64</string>
              <string>redhat-6-32</string>
              <string>redhat-6-64</string>
              <string>redhat-7-64</string>
              <string>ubuntu-12.04-32</string>
              <string>ubuntu-12.04-64</string>
              <string>ubuntu-14.04-32</string>
              <string>ubuntu-14.04-64</string>
              <string>ubuntu-16.04-32</string>
              <string>ubuntu-16.04-64</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>require_nosetests</name>
          <description>Run nosetests?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>require_apitests</name>
          <description>Run API tests?</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>debian-7-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=debian-7-32
sign_host=sign-deb
</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>debian-7-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=debian-7-64
sign_host=sign-deb
</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>debian-8-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=debian-8-32
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>debian-8-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=debian-8-64
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>redhat-6-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=centos-6-32
sign_host=sign-rpm</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>redhat-6-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=centos-6-64
sign_host=sign-rpm</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>redhat-7-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=centos-7-64
sign_host=sign-rpm</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-12.04-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1204-32
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-12.04-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1204-64
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-14.04-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1404-32
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-14.04-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1404-64
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-16.04-32</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1604-32
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$DontRun" plugin="run-condition@1.0"/>
      <runCondition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition" plugin="run-condition@1.0">
        <arg1>$system</arg1>
        <arg2>ubuntu-16.04-64</arg2>
        <ignoreCase>false</ignoreCase>
      </runCondition>
      <conditionalbuilders>
        <EnvInjectBuilder plugin="envinject@1.93.1">
          <info>
            <propertiesContent>host=ubuntu-1604-64
sign_host=sign-deb</propertiesContent>
          </info>
        </EnvInjectBuilder>
      </conditionalbuilders>
    </org.jenkinsci.plugins.conditionalbuildstep.ConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <condition class="org.jenkins_ci.plugins.run_condition.logic.And" plugin="run-condition@1.0">
        <conditions>
          <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
            <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition">
              <worstResult>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
              </worstResult>
              <bestResult>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
              </bestResult>
            </condition>
          </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
          <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
            <condition class="org.jenkins_ci.plugins.run_condition.logic.Not">
              <condition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
                <arg1>$system</arg1>
                <arg2>all</arg2>
                <ignoreCase>false</ignoreCase>
              </condition>
            </condition>
          </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
        </conditions>
      </condition>
      <buildStep class="hudson.tasks.Shell">
        <command>#!/bin/bash

cd ${ansible_root_path}
ansible-playbook -i environments/testing generate_host_vars.yml --extra-vars &quot;host=${host} package_version=${package_version} \
    package_release=${package_release} branch=${branch} system=${system}&quot; -vvvv
ansible-playbook -i environments/testing generate_repo_vars.yml --extra-vars &quot;host=${host} system=${system}&quot; -vvvv
ansible-playbook -i environments/testing build_test_sign_send.yml --extra-vars &quot;host=${host} system=${system} user=${ansible_user} \
	require_nosetests=${require_nosetests} require_apitests=${require_apitests}&quot; -vvvv</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <condition class="org.jenkins_ci.plugins.run_condition.logic.And" plugin="run-condition@1.0">
        <conditions>
          <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
            <condition class="org.jenkins_ci.plugins.run_condition.core.StatusCondition">
              <worstResult>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
              </worstResult>
              <bestResult>
                <name>SUCCESS</name>
                <ordinal>0</ordinal>
                <color>BLUE</color>
                <completeBuild>true</completeBuild>
              </bestResult>
            </condition>
          </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
          <org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
            <condition class="org.jenkins_ci.plugins.run_condition.core.StringsMatchCondition">
              <arg1>$system</arg1>
              <arg2>all</arg2>
              <ignoreCase>false</ignoreCase>
            </condition>
          </org.jenkins__ci.plugins.run__condition.logic.ConditionContainer>
        </conditions>
      </condition>
      <buildStep class="hudson.tasks.Shell">
        <command>#!/bin/bash

declare -A systems
systems=(
  [debian-7-32]=debian-7-32
  [debian-7-64]=debian-7-64
  [debian-8-32]=debian-8-32
  [debian-8-64]=debian-8-64
  [redhat-6-32]=centos-6-32
  [redhat-6-64]=centos-6-64
  [redhat-7-64]=centos-7-64
  [ubuntu-12.04-32]=ubuntu-1204-32
  [ubuntu-12.04-64]=ubuntu-1204-64
  [ubuntu-14.04-32]=ubuntu-1404-32
  [ubuntu-14.04-64]=ubuntu-1404-64
  [ubuntu-16.04-32]=ubuntu-1604-32
  [ubuntu-16.04-64]=ubuntu-1604-64
)
REPORT_FILE=zato-${package_version}-${package_release}_build_and_test_report-${BUILD_ID}.txt

cd ${ansible_root_path}
echo &quot;*** START BUILD ***&quot; &gt;&gt; ./files/${REPORT_FILE}
for system in ${!systems[@]}
do
  cd ${ansible_root_path}
  zato_package=`find ./output/${system}/ -name zato-${package_version}-${package_release}*`
  echo ${zato_package}

  ansible-playbook -i environments/testing generate_host_vars.yml \
    --extra-vars &quot;host=${systems[$system]} package_version=${package_version} \
      package_release=${package_release} branch=${branch} system=${system}&quot; -vvvv
  ansible-playbook -i environments/testing generate_repo_vars.yml \
    --extra-vars &quot;host=${systems[$system]} system=${system}&quot; -vvvv

  if [ -z ${zato_package} ];
  then

    ansible-playbook -i environments/testing build_and_test.yml \
      --extra-vars &quot;host=${systems[$system]} system=${system} user=${ansible_user} require_nosetests=${require_nosetests} \
      require_apitests=${require_apitests}&quot; -vvvv

    zato_package=`find ./output/${system}/ -name zato-${package_version}-${package_release}*`

    if [ ! -z ${zato_package} ];
    then
      echo &quot;${zato_package} package for ${system} has been built&quot; &gt;&gt; \
        ./files/${REPORT_FILE}
    else
      echo &quot;${zato_package} package for ${system} has NOT been built&quot; &gt;&gt; \
        ./files/${REPORT_FILE}
    fi

  else
    echo &quot;${zato_package} package for ${system} already exists - skipping this build.&quot;

  fi

  if [[ ! -z ${zato_package} &amp;&amp; ${zato_package} =~ .*deb.* ]];
  then
    ansible-playbook -i environments/testing sign_package.yml --extra-vars &quot;host=${systems[$system]} system=${system} \
      sign_host=sign-deb user=${ansible_user}&quot; -vvvv
  elif [[ ! -z ${zato_package} &amp;&amp; ${zato_package} =~ .*rpm.* ]];
  then
    #echo &quot;RPM package exists.&quot;
    ansible-playbook -i environments/testing sign_package.yml --extra-vars &quot;host=${systems[$system]} system=${system} \
      sign_host=sign-rpm user=${ansible_user}&quot; -vvvv
  else
    echo &quot;There is no package ./output/${system}/${zato_package} to be signed!&quot;
  fi

done

cd ${ansible_root_path}
echo &quot;*** END BUILD ***&quot; &gt;&gt; ./files/${REPORT_FILE}
cp ./files/${REPORT_FILE} ${WORKSPACE}

ansible-playbook -i environments/testing fetch_and_send.yml --extra-vars &quot;sign_host=sign-deb,sign-rpm&quot; -vvvv



</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57">
      <recipientList>rafal@zato.io</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AlwaysTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern>**/zato-${package_version}-${package_release}_build_and_test_report-${BUILD_ID}.txt</attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
    <EnvInjectBuildWrapper plugin="envinject@1.93.1">
      <info>
        <propertiesContent>package_version=$package_version
package_release=$package_release
branch=$branch
system=$system
require_nosetests=$require_nosetests
require_apitests=$require_apitests



</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>
