[Unit]
Description=Zato ESB components
After=syslog.target network.target

[Service]
ExecStart=/etc/init.d/zato start
ExecStop=/etc/init.d/zato stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
