---

{% if format == 'deb' %}
zato_package: zato-{{ version }}-{{ release }}_{{ arch }}-{{ codename }}.{{ format }}
repository: zato-{{ release }}-{{ codename }}
snapshot: snap-zato-{{ release }}-{{ codename }}-{{ repo_datetime }}
{% if release == 'stable' %}
prefix: repo/{{ release }}/2.0/{{ distro }}
source_dir: /opt/aptly/.aptly/public/repo/{{ release }}/2.0/{{ distro }}/
{% else %}
prefix: repo/{{ release }}/{{ distro }}
source_dir: /opt/aptly/.aptly/public/repo/{{ release }}/{{ distro }}/
{% endif %}
incoming: /opt/aptly/incoming/{{ distro }}/{{ codename }}
{% elif format == 'rpm' %}
zato_package: zato-{{ version }}-{{ release }}.{{ codename }}.{{ arch }}.{{ format }}
{% if release == 'stable' %}
repository: {{ release }}/2.0/{{ distro }}/{{ codename }}/{{ arch }}
{% else %}
repository: {{ release }}/{{ distro }}/{{ codename }}/{{ arch }}
{% endif %}
{% endif %}
