---

{% if package['format'] == 'deb' %}
zato_package: zato-{{ package['version'] }}-{{ package['release'] }}_{{ package['arch'] }}-{{ package['codename'] }}.{{ package['format'] }}
repository: zato-{{ package['release'] }}-{{ package['codename'] }}
snapshot: snap-zato-{{ package['release'] }}-{{ package['codename'] }}-{{ repo_datetime }}
{% if package['release'] == 'stable' %}
prefix: repo/{{ package['release'] }}/2.0/{{ package['distro'] }}
source_dir: /opt/aptly/.aptly/public/repo/{{ package['release'] }}/2.0/{{ package['distro'] }}/
{% else %}
prefix: repo/{{ package['release'] }}/{{ package['distro'] }}
source_dir: /opt/aptly/.aptly/public/repo/{{ package['release'] }}/{{ package['distro'] }}/
{% endif %}
incoming: /opt/aptly/incoming/{{ package['distro'] }}/{{ package['codename'] }}
{% elif package['format'] == 'rpm' %}
zato_package: zato-{{ package['version'] }}-{{ package['release'] }}.{{ package['codename'] }}.{{ package['arch'] }}.{{ package['format'] }}
{% if package['release'] == 'stable' %}
repository: {{ package['release'] }}/2.0/{{ package['distro'] }}/{{ package['codename'] }}/{{ package['arch'] }}
{% else %}
repository: {{ package['release'] }}/{{ package['distro'] }}/{{ package['codename'] }}/{{ package['arch'] }}
{% endif %}
{% endif %}
