---

{% if format == 'deb' %}
zato_package: zato-{{ version }}-{{ release }}_{{ arch }}-{{ codename }}.{{ format }}
repository: zato-{{ release }}-{{ codename }}
snapshot: snap-zato-{{ release }}-{{ codename }}-{{ repo_datetime }}
prefix: repo/{{ release }}/{{ repo_version }}/{{ distro }}
source_dir: /opt/aptly/.aptly/public/repo/{{ release }}/{{ repo_version }}/{{ distro }}/
incoming: /opt/aptly/incoming/{{ distro }}/{{ codename }}
{% elif format == 'rpm' %}
zato_package: zato-{{ version }}-{{ release }}.{{ codename }}.{{ arch }}.{{ format }}
repository: {{ release }}/{{ repo_version }}/{{ distro }}/{{ codename }}/{{ arch }}
{% endif %}
