files:
  "/etc/init/eb-docker-iptables.conf":
    mode: "000644"
    content: |
      description "Elastic Beanstalk Default Docker Container Iptables"
      author "Andrzej Wrobel <info@zato.io>"

      start on started docker
      stop on stopping docker

      respawn

      script
      sleep 20
      # Wait for docker to finish starting up first.
              FILE=/var/run/docker.sock
              while [ ! -e $FILE ]; do
                      sleep 2
              done

              EB_CONFIG_DOCKER_CURRENT_APP=`(cat /etc/elasticbeanstalk/.aws_beanstalk.current-container-id || cat /etc/elasticbeanstalk/.aws_beanstalk.staging-container-id) | cut -c 1-12`

              while [ ! docker ps | grep $EB_CONFIG_DOCKER_CURRENT_APP ]; do
                      sleep 2
              done

              EB_CONFIG_DOCKER_PORT_FILE=`/opt/elasticbeanstalk/bin/get-config container -k port_file`
              EB_CONFIG_UPSTREAM_IP=`docker inspect $EB_CONFIG_DOCKER_CURRENT_APP | jq -r .[0].NetworkSettings.IPAddress`
              EB_CONFIG_UPSTREAM_PORT=`cat $EB_CONFIG_DOCKER_PORT_FILE`

              # remove rules added by us (marked by the "added_by_ebextension" comment), if any
              iptables-save | grep -v added_by_ebextension | iptables-restore

              # add our rule with the "added_by_ebextension" as a special marker
              iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 8183 -j DNAT --to ${EB_CONFIG_UPSTREAM_IP}:8183 -m comment --comment added_by_ebextension
              iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 11223 -j DNAT --to ${EB_CONFIG_UPSTREAM_IP}:11223 -m comment --comment added_by_ebextension
              iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 20151 -j DNAT --to ${EB_CONFIG_UPSTREAM_IP}:20151 -m comment --comment added_by_ebextension
              iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 17010 -j DNAT --to ${EB_CONFIG_UPSTREAM_IP}:17010 -m comment --comment added_by_ebextension
              iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 17011 -j DNAT --to ${EB_CONFIG_UPSTREAM_IP}:17011 -m comment --comment added_by_ebextension

              # following are optional since the FORWARD chain is ACCEPT by default
              # iptables -A FORWARD -p tcp -m conntrack --ctstate RELATED,ESTABLISHED -d ${EB_CONFIG_UPSTREAM_IP} -j ACCEPT -m comment --comment added_by_ebextension
              # iptables -A FORWARD -p tcp -d ${EB_CONFIG_UPSTREAM_IP} --dport 80 -j ACCEPT -m comment --comment added_by_ebextension

              exec docker wait $EB_CONFIG_DOCKER_CURRENT_APP
      end script

commands:
  00setup-iptables:
    command: "initctl reload-configuration"

container_commands:
  01start-service:
    command: "initctl start eb-docker-iptables"
