VAGRANTFILE_API_VERSION = "2"
ENV["LC_ALL"] = "en_US.UTF-8"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  config.vm.box = "{{ box['base'] }}"

  config.vm.provider "virtualbox" do |v|
    v.name = "{{ box['name'] }}"
    v.memory = "{{ box['memory'] }}"
  end
  config.vm.hostname = "{{ box['hostname'] }}"
  config.vm.network "private_network", ip: "{{ hostvars[box['hostname']]['ansible_host'] }}"
  {% if system == 'redhat-7-64' %}
  {{ inline_provision }}
  {% endif %}

end
