VAGRANTFILE_API_VERSION = "2"
ENV["LC_ALL"] = "en_US.UTF-8"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

  config.vm.box = "{{ box['base'] }}"

  config.vm.provider "virtualbox" do |v|
    v.memory = "{{ box['memory'] }}"
    v.name = "{{ item }}"
  end
  config.vm.hostname = "{{ item }}"
  config.vm.network "private_network", ip: "{{ hostvars[item]['ip'] }}"

end
