---

root_dir: {{ root_dir }}
box:
  base: {{ base_box }}
  name: {{ box_name }}
  memory: {{ box_memory }}
  hostname: {{ box_hostname }}
  ip: {{ box_ip }}
package:
  version: {{ package_version }}
  release: {{ package_release }}
  system: {{ system }}
  distro: {{ distribution }}
  codename: {{ codename }}
  arch: {{ architecture }}
  format: {{ format }}
  branch: {{ branch }}
repo:
  host: {{ repo_host }}
