<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Runs tests of Zato quickstart with Redis and SQLite.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

cd &quot;$ANSIBLE_ROOT&quot;
ansible-playbook -vvvv quickstart_redis_sqlite.yml --user vagrant --private-key=&quot;$ANSIBLE_ROOT&quot;/vm/redhat-6-32/.vagrant/machines/default/virtualbox/private_key</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>