# Host and port we will listen for requests on
bind {{ hostvars[inventory_hostname]['ip'] }}
port {{ hostvars[inventory_hostname]['node'] }}

# Database location
dir .

{% if hostvars[inventory_hostname]['inventory_hostname'] != "redis1" %}
# Where to replicate from
slaveof {{ hostvars['redis1']['ip'] }} {{ hostvars['redis1']['node'] }}
{% endif %}
