# Host and port we will listen for requests on
bind {{ hostvars[inventory_hostname]['ip'] }}
port {{ hostvars[inventory_hostname]['sentinel'] }}

#
# Our initial master is called redis-ha, there is a quorum of 2 sentinels
# needed for failover, after 10 seconds we declare a node to
# be down in our opinion, only 1 standby (slave) node can replicate with
# new master after failover and we don't allow for the same master to be failed over
# more often than once in 3 minutes.
#
sentinel monitor {{ hostvars[groups['redis-ha'][0]]['inventory_hostname'] }} {{ hostvars[groups['redis-ha'][0]]['ip'] }} {{ hostvars[groups['redis-ha'][0]]['node'] }} 2
sentinel down-after-milliseconds {{ hostvars[groups['redis-ha'][0]]['inventory_hostname'] }} 10000
sentinel parallel-syncs {{ hostvars[groups['redis-ha'][0]]['inventory_hostname'] }} 1
sentinel failover-timeout {{ hostvars[groups['redis-ha'][0]]['inventory_hostname'] }} 180000
