# zato create web admin config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato.webadmin.cert.pem
command=create_web_admin
odb_db_name=
odb_password=
odb_host=
odb_port=5432
odb_type=
odb_user=
path=/opt/zato/env/web-admin
postgresql_schema=
priv_key_path=/opt/zato/ca/zato.webadmin.key.pem
pub_key_path=/opt/zato/ca/zato.webadmin.key.pub.pem
store_config=False
tech_account_name=
tech_account_password=
