# zato create web admin config
ca_certs_path=/opt/zato/ca/ca_cert.pem
cert_path=/opt/zato/ca/zato-wa.cert.pem
command=create_web_admin
odb_db_name=zato
odb_password=zato
odb_host=10.5.5.71
odb_port=5432
odb_type=postgresql
odb_user=zato
path=/opt/zato/env/web-admin
postgresql_schema=zato
priv_key_path=/opt/zato/ca/zato-wa.key.pem
pub_key_path=/opt/zato/ca/zato-wa.key.pub.pem
store_config=False
tech_account_name=
tech_account_password=
