[zato-2.0]
name=zato-2.0
{% if package['release'] == "stable" %}
baseurl=https://repo-box-centos/repo/stable/2.0/rhel/el$releasever/$basearch
{% else %}
baseurl=https://repo-box-centos/repo/{{ package['release'] }}/rhel/el$releasever/$basearch
{% endif %}
enabled=1
gpgcheck=1
gpgkey=https://repo-box-centos/repo/zato-rpm-test.pgp.asc
