[zato-{{ repo_version }}]
name=zato-{{ repo_version }}
baseurl=https://repo-box-centos/repo/{{ release }}/{{ repo_version }}/rhel/el$releasever/$basearch
enabled=1
gpgcheck=1
gpgkey=https://repo-box-centos/repo/zato-rpm-test.pgp.asc
